@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.spinner {
  border: 2px solid transparent;
  border-radius: 50%;
  border-top: 2px solid #f3f3f3;
  width: 18px;
  height: 18px;
  animation: spin 0.5s linear infinite;
}
.sub-btn .spinner {
  border-top: 2px solid #454647 !important;
}
.sub-btn:hover .spinner {
  border-top: 2px solid #f3f3f3 !important;
}

.loader {
  border: 2px solid transparent;
  border-radius: 50%;
  border-top: 2px solid #ffffff;
  width: 18px;
  height: 18px;
  -webkit-animation: spin 0.5s linear infinite; /* Safari */
  animation: spin 0.5s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 576px) {
  .custom_container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (min-width: 576px) {
  .custom_container {
    width: 540px;
  }
}

@media screen and (min-width: 768px) {
  .custom_container {
    width: 720px;
  }
}

@media screen and (min-width: 992px) {
  .custom_container {
    width: 960px;
  }
}

@media screen and (min-width: 1200px) {
  .custom_container {
    width: 1140px;
  }
}

@media screen and (min-width: 1400px) {
  .custom_container {
    width: 1320px;
  }
}
